:root {
    --ff-primary: 'Inter', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --dark-blue: #071a3d;
    --white: #ffffff;
    --dark-blue-2: #214185;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
}

hr {
    width: 30%;
    margin: auto;
}

article {
    border-radius: 15px;
    box-shadow: 0 0 2px gray;
}

article > img {
    border-radius: 10px;
}

/* Header */

.navbar {
    background-color: var(--dark-blue);
}

.navbar__logo {
    max-height: 1.5rem;
    min-width: 8.125rem;
}

.nav_container {
    padding-left: 12%;
    padding-right: 12%;
}

.nav-link {
    color: var(--white);
    margin-right: 1.5rem;

    position: relative;
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    color:var(--white)
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

/* Title section */

.title{
    margin: 0;
}

.title__video{
    display: block;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* Fleet section */

.fleet {
    padding-top: 3rem;
    text-align: center;
}

.fleet_h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.carousel {
    margin: auto;
}

.carousel__img {
    height: 100%;
    margin: auto;
    padding: 30%;
}

.carousel > .carousel-indicators > button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-indicators {
    padding-top: 100px;
}

/* Features Section */

.news {
    padding-top: 3rem;
    margin: 0 0.45rem;
    text-align: center;
}

.news__container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.news__img {
    padding-bottom: 2rem;
    width: 100%;
}

.article__text {
    padding: 1rem 1.35rem 0;
}

/* About us section */
.about-us {
    margin-top: 3rem;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--white);
}

.about-us > hr{
    color: var(--white);
}

.about-us__title{
    padding-top: 2rem;
}

.about-us__text {
    padding: 0.4rem 0;
}

/* FLEET PAGE */

.main__header {
    text-align: center;
    margin-top: 3rem;
}

.album img {
    object-fit: cover;
    height: 225px;
    width: 100%;
}

/* CONTACT PAGE */

.card1 {
    background-image: url("/images/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card2 {
    background-image: url("/images/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card3 {
    background-image: url("/images/wallpaper3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    position: absolute;
    font-weight: var(--fw-bold);
    bottom: 0;
    margin: 10rem auto 1.5rem;
    background-color: var(--dark-blue-2);
    border: none;
}

.btn:hover {
    background-color: black;
    transition: all 0.4s ease;
}

.card-body {
    padding-bottom: 5rem;
}